module.exports = {
    "endpoint": "{{ renovate_endpoint }}", // replace it with your actual endpoint
    "gitAuthor": "{{ renovate_gitauthor }}",
    "platform": "{{ renovate_platform }}",
    "onboardingConfigFileName": "renovate.json",
    "autodiscover": true,
    "optimizeForDisabled": true,
    "persistRepoData": true
};
